.navbarCustom {
  background-color: #c2ddf5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #333;
}

.themeToggle {
  font-size: 20px;
  border-radius: 8px;
  background-color: #e9ecef;
  color: #333;
}

.themeToggle:hover {
  background-color: #342a87;
}
